.main_container{
    width: 100%;
    position: relative;
    top: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.data_container{
    width:96%;
    display: flex;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(221, 213, 227);
    align-items: center;
}
.data_holder{
    display: grid;
    margin: 0 auto;
    gap: 20px;
    
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
}

.data_head > p{

    font-size: 3rem;
    margin: 0 8px;

}

