.header_info{
/*https://images.unsplash.com/photo-1532299039866-065669a2d5df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGNpdHklMjBvZiUyMGxpZ2h0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60
 */
    width: 100vw;
    min-height: 95vh;
    height: auto;
    background-image: url("../../Img/wave.svg");
    background-repeat: no-repeat ;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d6c9c9;
    opacity: 0.9;
    color: #000000;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.row_header{

    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  
   
}

.row_header > .col{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 4px 0;
    padding: 0 0 0 10px;
    height: auto;
    
}

.user_desc{
    text-decoration: underline;
}
.row_header > .col > .title{
    display: block;
    text-align: left;
    font-size: 2.75rem;
    letter-spacing: 1px;
    line-height: 1.25;
    font-weight: 800;
    margin: 6px;
    padding: 4px;
    
}

.row_header > .col > .des{

    display: block;
    text-align: left;
    font-size: 1.85rem;
    font-weight: 350;
    letter-spacing: 1px;
    line-height: 1.25;
    margin: 6px;
    padding: 4px;
    
}
.row_header> .col_end > .des{

    text-align: center;
     
    
}

.row_header> .col > .action{
    width: 80%;
    display: flex;
    margin: 8px 0;
    justify-content:center;
    align-items: center;
    gap: 10px;
    
}
.row_header > .col > .action > a{

    text-decoration: none;
    font-size: 1.5rem;
    margin: 4px 10px;
    padding: 8px 10px;
    border-radius: 10px;
    width: 160px;
    text-align: center;
    color: #000;
    background-color: #EF4B4C;
}

.row_header > .col > .action > a:hover{

    background-color: #000000;
    color: #f4f4f4;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 920px) {
    .row_header{
        width: 90%;
    }
}
@media (max-width: 760px) {
 .row_header{
         width: 99%;
     }
   .row_header{
        flex-direction: column;
        gap: 0;
    }
    .row_header > .col > .des{
        text-align: center;
    }
   
}

@media (max-width: 420px) {
    .header_info{
        display: flex;
        justify-content: center;
    
    }
     .row_header{
         width: auto;
     }
    .row_header > .col{
        width: auto;
    }
   
  .row_header> .col > .des{
    width: 100%;
    
    padding: 0 0 0 12px;
    text-align: left;
   }

   .row_header > .col > .title{
        width: 100%;
        font-size: 2rem;
        text-align: left;
        padding: 4px 0 4px 12px;
    }
   
   .row_header> .col_end > .des{
        display: block;
        text-align: center;
      
    }
    
   
}